/* For the permissions matrix */
#permission_table {
	width: auto;
	margin-left: 20px;
}
#permission_table td {
	text-align: center;
}
#permission_table td:first-child {
	text-align: left;
}
#permission_table_result {
	font-weight: bold;
}
.hover {
	background-color: #dfe4ea;
}
/* For the role's permissions matrix */
th.domain {
	width: 150px;
	color: #222;
}
/* For the role_form */
.description.control-group,
.description.control-group .help-inline {
    vertical-align: top;
}