textarea { resize: vertical; }
input[type=checkbox], input[type=radio] { margin: 0px; }
input[type=text], input[type=password], input[type=email], input[type=number], textarea, select { border-radius: 5px !important; }

/*
// -----------------------------------------------------------------------------
// Custom CSS
// -----------------------------------------------------------------------------
*/
.pl-10 { padding-left: 10px; }

.ml-10 { margin-left: 10px; }
.mr-10 { margin-right: 10px; }
.mt-10 { margin-top: 10px; }
.mb-10 { margin-bottom: 10px; }

.ml-20 { margin-left: 20px; }
.mr-20 { margin-right: 20px; }
.mt-20 { margin-top: 20px; }
.mb-20 { margin-bottom: 20px; }

.va-middle { vertical-align: middle; }
.d-inline { display: inline-block; }
.required { color: red; padding-left: 5px; }

/*
// -----------------------------------------------------------------------------
// User setting CSS
// -----------------------------------------------------------------------------
*/
.user-table-search { margin-bottom: 20px; border-radius: 8px; padding: 15px; background-color: #ecf0f1}
.user-table-search .row:last-child { padding-top: 20px;}
.user-table th.id { width: 3em; }
.user-table th.last-login { width: 11em; }
.user-table th.status { width: 10em; }
